.bg-container1 {
    background-color: #fdba74;
    height: 150px;
    width: 150px;
    color: white;
}

.bg-container2 {
    background-color: #ea580c;
    height: 150px;
    width: 150px;
    color: white;
}

.bg-container3 {
    background-color: #a5b4fc;
    height: 150px;
    width: 150px;
    color: white;
}

.bg-container4 {
    background-color: #4f46e5;
    height: 150px;
    width: 150px;
    color: white;
}

.bg-container5 {
    background-color: #5eead4;
    height: 150px;
    width: 150px;
    color: white;
}

.bg-container6 {
    background-color: #0d9488;
    height: 150px;
    width: 150px;
    color: white;
}